<p>Du er blevet inviteret til at bruge Maproller til lagring og synkronisering af data.</p>
<p>Klik på linket for at bekræfte din brugerkonto.</p>
<a href="<%= url %>"><%=u rl %></a>
<p>Med venlig hilsen</p>
<p>Rune Tvilum</p>