<p>Du er blevet inviteret til at bruge løsningen fra KOSGIS til lagring og synkronisering af data.</p>
<p>Klik på linket for at bekræfte din brugerkonto.</p>
<a href="<%= url %>"><%= url %></a>
<p>Med venlig hilsen</p>
<p>KOSGIS</p>
