

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th></th>
                <th>Navn</th>
                <th>Url</th>
                <th>Type</th>
                <th>Projektion</th>
                <th>Options</th>
            </tr>
            <tr ng-repeat="item in maps" ng-click="select(item)" ng-class="{info:item==selected}">
                <td><i class="fa fa-globe" ng-show="item==selected"></i></td>
                <td>{{item.value.name}}</td>
                <td>{{item.value.url}}</td>
                <td>{{item.value.mapType}}</td>
                <td>{{item.value.epsg}}</td>
                <td>{{item.value.options}}</td>
            </tr>
        </table>
    </div>
