<div class="panel panel-primary" ng-init="isCollapsed=true">
    <div class="panel-heading">
        <a style="color:white" class="pull-right" ng-click="removeType(type)"><i class="fa fa-close"></i></a>
        <h3 class="panel-title"><a style="color:white" ng-click="isCollapsed=!isCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isCollapsed,'fa-plus-square-o':isCollapsed}"></i></a> {{(schema.type|isArray)?schema.type[$index]:schema.type}}</h3>
    </div>
    <div class="panel-body" collapse="isCollapsed">

        <div class="form-group">
            <label for="type">type</label>
            <select class="form-control" class="form-control" id="type" ng-model="schema.type[$index]" ng-change="changeType()" ng-if="schema.type|isArray">
                <option>array</option>
                <option>boolean</option>
                <option>integer</option>
                <option>number</option>
                <option>null</option>
                <option>object</option>
                <option>string</option>
            </select>
            <select class="form-control" class="form-control" id="type" ng-model="schema.type" ng-change="changeType()" ng-if="!(schema.type|isArray)">
                <option>array</option>
                <option>boolean</option>
                <option>integer</option>
                <option>number</option>
                <option>null</option>
                <option>object</option>
                <option>string</option>
            </select>
        </div>

        <div class="panel panel-default" ng-if="((schema.type|isArray) && (schema.type.indexOf('integer')!==-1 || schema.type.indexOf('number')!==-1 || schema.type.indexOf('string')!==-1)) || (!(schema.type|isArray) && (schema.type==='integer' || schema.type==='number' || schema.type==='string'))">
            <div class="panel-heading">
                <h3 class="panel-title"><a style="" ng-click="isEnumCollapsed=!isEnumCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isEnumCollapsed,'fa-plus-square-o':isEnumCollapsed}"></i></a> enum</h3>

            </div>
            <div class="panel-body">
                <form class="form" name="myForm" novalidate ng-submit="addEnum(myForm)">
                    <div class="input-group" ng-if="((schema.type|isArray) && (schema.type.indexOf('integer')!==-1 || schema.type.indexOf('number')!==-1)) || (!(schema.type|isArray) && (schema.type==='integer' || schema.type==='number'))">
                        <span class="input-group-addon">Tal</span>
                        <input type="number" class="form-control" name="newEnum" ng-model="newEnum">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-plus"></i></button>
      </span>
                    </div>
                    <div class="input-group" ng-if="((schema.type|isArray) && schema.type.indexOf('string')!==-1) || (!(schema.type|isArray) && schema.type==='string')">
                        <span class="input-group-addon">Tekst</span>
                        <input type="text" class="form-control" name="newEnum" ng-model="newEnum">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-plus"></i></button>
      </span>
                    </div>
                </form>
                <div ui-sortable ng-model="schema.enum">
                    <div class="input-group" ng-repeat="item in schema.enum track by $index">
                        <span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
                        <input type="text" class="form-control" ng-model="schema.enum[$index]" ng-change="$emit('validate')" ng-if="schema.type.indexOf('string')!==-1">
                        <input type="number" class="form-control" ng-model="schema.enum[$index]" ng-change="$emit('validate')" ng-if="((schema.type|isArray) && (schema.type.indexOf('integer')!==-1 || schema.type.indexOf('number')!==-1)) || (!(schema.type|isArray) && (schema.type==='integer' || schema.type==='number'))">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="removeEnum()"><i class="fa fa-minus"></i></button>
      </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="((schema.type|isArray) && (schema.type.indexOf('integer')!==-1 || schema.type.indexOf('number')!==-1)) || (!(schema.type|isArray) && (schema.type==='integer' || schema.type==='number'))">
            <div class="form-group">
                <label for="multipleOf">multipleOf</label>
                <input type="number" class="form-control" id="multipleOf" ng-model="schema.multipleOf" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <label for="maximum">maximum</label>
                <input type="number" class="form-control" id="maximum" ng-model="schema.maximum" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="schema.exclusiveMaximum" ng-change="$emit('validate')">exclusiveMaximum
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="minimum">minimum</label>
                <input type="number" class="form-control" id="minimum" ng-model="schema.minimum" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="schema.exclusiveMinimum" ng-change="$emit('validate')">exclusiveMinimum
                    </label>
                </div>
            </div>
        </div>
        <div ng-if="((schema.type|isArray) && schema.type.indexOf('string')!==-1) || (!(schema.type|isArray) && schema.type==='string')">
            <div class="form-group">
                <label for="format">format</label>
                <select class="form-control" id="format" ng-model="schema.format" ng-change="$emit('validate')">
                    <option>date-time</option>
                    <option>email</option>
                    <option>hostname</option>
                    <option>ipv4</option>
                    <option>ipv6</option>
                    <option>uri</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pattern">pattern</label>
                <input type="text" class="form-control" id="pattern" ng-model="schema.pattern" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <label for="maxLength">maxLength</label>
                <input type="number" class="form-control" id="maxLength" ng-model="schema.maxLength" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <label for="minLength">minLength</label>
                <input type="number" class="form-control" id="minLength" ng-model="schema.minLength" ng-change="$emit('validate')">
            </div>
        </div>
        <div ng-if="((schema.type|isArray) && schema.type.indexOf('array')!==-1) || (!(schema.type|isArray) && schema.type==='array')">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('items')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isArrayCollapsed=!isArrayCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isArrayCollapsed,'fa-plus-square-o':isArrayCollapsed}"></i></a> items</h3>

                </div>
                <div class="panel-body" collapse="isArrayCollapsed" ng-if="schema.items|isArray">
                    <tree name="item.title" schema="item" property-type="'items'" ng-repeat="item in schema.items track by $index">
                    </tree>
                </div>
                <div class="panel-body" collapse="isArrayCollapsed" ng-if="schema.items && !(schema.items|isArray)">
                    <tree name="schema.items.title" schema="schema.items" property-type="'items'">
                    </tree>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="schema.additionalItems" ng-change="$emit('validate')" ng-checked="schema.additionalItems||true">additionalItems
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="maxItems">maxItems</label>
                <input type="number" class="form-control" id="maxItems" ng-model="schema.maxItems" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <label for="minItems">minItems</label>
                <input type="number" class="form-control" id="minItems" ng-model="schema.minItems" ng-change="$emit('validate')">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="schema.uniqueItems" ng-change="$emit('validate')">uniqueItems
                    </label>
                </div>
            </div>
        </div>
        <div ng-if="((schema.type|isArray) && schema.type.indexOf('object')!==-1) || (!(schema.type|isArray) && schema.type==='object')">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('properties')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isPropertiesCollapsed=!isPropertiesCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isPropertiesCollapsed,'fa-plus-square-o':isPropertiesCollapsed}"></i></a> properties</h3>
                </div>
                <div class="panel-body" collapse="isPropertiesCollapsed">
                    <div class="form-group">
                        <label for="maxProperties">maxProperties</label>
                        <input type="number" class="form-control" id="maxProperties" ng-model="schema.maxProperties" ng-change="$emit('validate')">
                    </div>
                    <div class="form-group">
                        <label for="minProperties">minProperties</label>
                        <input type="number" class="form-control" id="minProperties" ng-model="schema.minProperties" ng-change="$emit('validate')">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="additionalProperties" ng-model-options="{getterSetter:true}">additionalProperties
                            </label>
                        </div>
                    </div>
                    <tree name="key" schema="value" property-type="'properties'" parent-schema="schema" ng-repeat="(key,value) in schema.properties">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('patternProperties')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isPatternPropertiesCollapsed=!isPatternPropertiesCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isPatternPropertiesCollapsed,'fa-plus-square-o':isPatternPropertiesCollapsed}"></i></a> patternProperties</h3>
                </div>
                <div class="panel-body" collapse="isPatternPropertiesCollapsed">
                    <tree name="key" schema="value" property-type="'patternProperties'" ng-repeat="(key,value) in schema.patternProperties">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('dependencies')"><i class="fa fa-plus"> schema</i>
                    </button>
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('dependencies',true)"><i class="fa fa-plus"> property</i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isDependenciesCollapsed=!isDependenciesCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isDependenciesCollapsed,'fa-plus-square-o':isDependenciesCollapsed}"></i></a> dependencies</h3>
                </div>
                <div class="panel-body" collapse="isDependenciesCollapsed">
                    <tree name="key" schema="value" property-type="'dependencies'" ng-repeat="(key,value) in schema.dependencies">
                    </tree>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('allOf')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isAllOfCollapsed=!isAllOfCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isAllOfCollapsed,'fa-plus-square-o':isAllOfCollapsed}"></i></a> allOf</h3>
                </div>
                <div class="panel-body" collapse="isAllOfCollapsed">
                    <tree name="item.$ref||item.title" schema="item" property-type="'allOf'" ng-repeat="item in schema.allOf track by $index">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('anyOf')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isAnyOfCollapsed=!isAnyOfCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isAnyOfCollapsed,'fa-plus-square-o':isAnyOfCollapsed}"></i></a> anyOf</h3>
                </div>
                <div class="panel-body" collapse="isAnyOfCollapsed">
                    <tree name="item.$ref||item.title" schema="item" property-type="'anyOf'" ng-repeat="item in schema.anyOf track by $index">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('oneOf')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isOneOfCollapsed=!isOneOfCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isOneOfCollapsed,'fa-plus-square-o':isOneOfCollapsed}"></i></a> oneOf</h3>
                </div>
                <div class="panel-body" collapse="isOneOfCollapsed">
                    <tree name="item.$ref||item.title" schema="item" property-type="'oneOf'" ng-repeat="item in schema.oneOf track by $index">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addNot()"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isNotCollapsed=!isNotCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isNotCollapsed,'fa-plus-square-o':isNotCollapsed}"></i></a> not</h3>
                </div>
                <div class="panel-body" collapse="isNotCollapsed">
                    <tree name="'not'" schema="schema.not" property-type="'not'" ng-if="schema.not">
                    </tree>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-default pull-right" ng-click="addProperty('definitions')"><i class="fa fa-plus"></i>
                    </button>
                    <h3 class="panel-title"><a style="" ng-click="isDefinitionsCollapsed=!isDefinitionsCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isDefinitionsCollapsed,'fa-plus-square-o':isDefinitionsCollapsed}"></i></a> definitions</h3>
                </div>
                <div class="panel-body" collapse="isDefinitionsCollapsed">
                    <tree name="key" schema="value" property-type="'definitions'" ng-repeat="(key,value) in schema.definitions">
                    </tree>
                </div>
            </div>
        </div>
    </div>
</div>
