<div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
    <button type="button" class="close" ng-click="success=null"><span aria-hidden="true">&times;</span><span class="sr-only">Luk</span>
    </button><strong>OK:</strong> {{success}}.
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
    <button type="button" class="close" ng-click="error=null"><span aria-hidden="true">&times;</span><span class="sr-only">Luk</span>
    </button><strong>Fejl:</strong> {{error}}
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sortering</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Sortering</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="sort" ng-options="key as key for key in keys">
                        <option value="" selected>-- ingen sortering --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-warning" ng-click="save()">{{missing?'Opret index':'Gem'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="!missing">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fulltext Index</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Størrelse</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{info.indices['db-'+database].index.size_in_bytes | bytes}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Antal dokumenter</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{info.indices['db-'+database].docs.num_docs}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-danger" ng-click="delete()">Slet index</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Test søgning</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query" ng-keyup="search($event)">
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in result.hits.hits">
                    <div>id: {{item._source._id}}</div>
                    <div ng-repeat="(key,value) in item.highlight">
                        <h4>{{key}}</h4>
                        <div ng-repeat="highlight in value">
                            <p ng-bind-html="html(highlight)"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>