<div class="form-group">
    <label for="type" class="col-sm-2 control-label">Projection</label>
    <div class="col-sm-10">
        <select class="form-control" id="epsg" ng-model="map.epsg" ng-options="r.value as r.key for r in optionsEPSG">
        </select>
    </div>
</div>
<div class="form-group has-feedback" ng-class="{ 'has-error': myform.name.$error.required && !myform.name.$pristine, 'has-success': myform.name.$valid && !myform.name.$pristine}" ng-if="map._id">
    <label for="name" class="col-sm-2 control-label">Navn</label>
    <div class="col-sm-10">
        <input name="name" ng-model="map.name" type="text" class="form-control" id="name" placeholder="Navn" required>
        <span ng-show="myform.name.$valid && !myform.name.$pristine" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-show="myform.name.$error.required && !myform.name.$pristine" class="help-block">Navn er påkrævet!</span>
    </div>
</div>
<div class="form-group" ng-if="map._id">
    <label for="size" class="col-sm-2 control-label">Size</label>
    <div class="col-sm-10">
        <p class="form-control-static">{{map.size | bytes}}</p>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error': fileError, 'has-success': fileSuccess}" ng-if="!map._id">
    <label for="logo" class="col-sm-2 control-label">Upload</label>
    <div class="col-sm-10">
        <input type="file" ng-file-select="onFileSelect($files)" class="form-control" id="logo" name="logo" required>
        <span ng-show="fileError" class="help-block">Logo er påkrævet!</span>
    </div>
</div>
<progressbar class="progress-striped active" value="dynamic" type="{{type}}" ng-if="!map._id">{{dynamic}} %</progressbar>
<div class="alert alert-danger" role="alert" ng-show="error">
    <p><strong>Advarsel:</strong> Der er sket en fejl ved upload af filen.</p>
    <p>{{error}}</p>
</div>
<div class="form-group">
    <label for="options" class="col-sm-2 control-label">Options</label>
    <div class="col-sm-10">
        <textarea name="options" ng-model="map.options" class="form-control" id="options"></textarea>
    </div>
</div>

