<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rediger emailtemplate</h3>
            </div>
            <div class="panel-body">
                <form novalidate role="form" class="form-horizontal" name="myform" ng-submit="update(myform)">
                    <div class="form-group has-feedback" ng-class="{ 'has-error': myform.name.$error.required && myform.$submitted, 'has-success': myform.name.$valid && myform.$submitted}">
                        <label for="name" class="col-sm-2 control-label">Navn</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="emailtemplate.name" type="text" class="form-control" id="name" placeholder="Navn" required>
                            <span ng-show="myform.name.$valid && !myform.name.$pristine" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="myform.name.$error.required && !myform.name.$pristine" class="help-block">Navn er påkrævet!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="action" class="col-sm-2 control-label">Action</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="emailtemplate.action" ng-options="key.value as key.name for key in actions">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="html" class="col-sm-2 control-label">HTML</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="html" id="html" ng-model="emailtemplate.html"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="col-sm-2 control-label">Text</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="text" id="text" ng-model="emailtemplate.text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="css" class="col-sm-2 control-label">CSS</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="css" id="css" ng-model="emailtemplate.css"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Opdater</button>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger" role="alert" ng-show="error">
                    <p><strong>Fejl:</strong> Der er sket en fejl ved opdatering af emailtemplaten.</p>
                    <p>{{error}}</p>
                </div>
                <div class="alert alert-success" role="alert" ng-show="success">
                    <p><strong>OK:</strong> Emailtemplaten er opdateret.</p>
                    <p>{{emailtemplate._rev}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">HTML output</h3>
            </div>
            <div class="panel-body">
                <div ng-bind-html="trustHTML()"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">text output</h3>
            </div>
            <div class="panel-body">
                <div ng-bind-html="text"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a ng-click="isListeCollapsed=!isListeCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isListeCollapsed,'fa-plus-square-o':isListeCollapsed}"></i></a> Email felter</h3>
            </div>
            <div class="panel-body" collapse="isListeCollapsed">
                <div class="form-group">
                    <label for="schema">Felter</label>
                    <select class="form-control" id="schema" name="schema" ng-model="userfield" ng-options="r for r in keys" ng-change="addUserfield(r)">
                        <option value="" selected>-- Vælg --</option>
                    </select>
                </div>
                <emailuser ng-repeat="(key, value) in emailtemplate.userfields" user="emailtemplate.userfields[key]" key="key" allusers="allusers" remove-user="removeUserfield(key)"></emailuser>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a style="" ng-click="isFormCollapsed=!isFormCollapsed"><i class="fa" ng-class="{'fa-minus-square-o':!isFormCollapsed,'fa-plus-square-o':isFormCollapsed}"></i></a> Personer</h3>
            </div>
            <div class="panel-body" collapse="isFormCollapsed">
                <div class="form-group">
                    <label for="users">Personer</label>
                    <select class="form-control" id="users" name="users" ng-model="user" ng-options="key as key + ' ' + value for (key,value) in users" ng-change="addUser()">
                        <option value="" selected>-- Vælg --</option>
                    </select>
                    <emailuser ng-repeat="(key, value) in emailtemplate.users" user="emailtemplate.users[key]" key="key" allusers="allusers" remove-user="removeUser(key)"></emailuser>
                </div>
            </div>
        </div>
    </div>
</div>