<div class="container-fluid">
    <div ncy-breadcrumb></div>
    <h1><i class="fa fa-flask"></i> Templates</h1>
    <ul class="nav nav-pills">
        <li ui-sref-active="active">
            <a ui-sref="templates.list">
                <div><i class="fa fa-2x fa-list"></i>
                </div>
                <div>Liste</div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="templates.create">
                <div><i class="fa fa-2x fa-pencil"></i>
                </div>
                <div>Opret</div>
            </a>
        </li>
    </ul>
    <div ui-view></div>
</div>

